In [6]:
#imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [7]:
#create a dataframe from csv file

cwd = os.getcwd()

df = pd.read_csv(cwd+"/Article_links.csv", index_col=0)

In [8]:
df

,title,link
0,\n\nAPPLICATION UNDER SECTION 9 OF THE CODE OF...,https://www.barelaw.in/application-under-secti...
1,\n\nAPPLICATION UNDER SECTION 5/9 CODE OF CIVI...,https://www.barelaw.in/application-under-secti...
2,\n\nApplication under Section 5 of Limitation ...,https://www.barelaw.in/application-under-secti...
3,\n\nAPPLICATION UNDER SECTION 4 OF THE CODE OF...,https://www.barelaw.in/application-under-secti...
4,\n\nAPPLICATION UNDER RULE 159 OF THE RAJASTHA...,https://www.barelaw.in/application-under-rule-...
...,...,...
195,\n\nApplication for Bail before High Court und...,https://www.barelaw.in/application-for-bail-be...
196,\n\nApplication for Anticipatory Bail before S...,https://www.barelaw.in/application-for-anticip...
197,\n\nApplication by an Accused to surrender in ...,https://www.barelaw.in/application-by-an-accus...
198,\n\nAnticipatory Bail Application under Sectio...,https://www.barelaw.in/anticipatory-bail-appli...
199,\n\nApplication for Anticipatory Bail before H...,https://www.barelaw.in/application-for-anticip...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 200 entries, 0 to 199
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   200 non-null    object
 1   link    200 non-null    object
dtypes: object(2)
memory usage: 4.7+ KB

In [14]:
df.title = df.title.str.strip("\n\n")

In [16]:
df.head()

,title,link
0,APPLICATION UNDER SECTION 9 OF THE CODE OF CIV...,https://www.barelaw.in/application-under-secti...
1,APPLICATION UNDER SECTION 5/9 CODE OF CIVIL PR...,https://www.barelaw.in/application-under-secti...
2,Application under Section 5 of Limitation Act ...,https://www.barelaw.in/application-under-secti...
3,APPLICATION UNDER SECTION 4 OF THE CODE OF CIV...,https://www.barelaw.in/application-under-secti...
4,APPLICATION UNDER RULE 159 OF THE RAJASTHAN HI...,https://www.barelaw.in/application-under-rule-...

In [17]:
df.shape

(200, 2)

In [18]:
#resetting the index
df.reset_index(drop=True)

,title,link
0,APPLICATION UNDER SECTION 9 OF THE CODE OF CIV...,https://www.barelaw.in/application-under-secti...
1,APPLICATION UNDER SECTION 5/9 CODE OF CIVIL PR...,https://www.barelaw.in/application-under-secti...
2,Application under Section 5 of Limitation Act ...,https://www.barelaw.in/application-under-secti...
3,APPLICATION UNDER SECTION 4 OF THE CODE OF CIV...,https://www.barelaw.in/application-under-secti...
4,APPLICATION UNDER RULE 159 OF THE RAJASTHAN HI...,https://www.barelaw.in/application-under-rule-...
...,...,...
195,Application for Bail before High Court under s...,https://www.barelaw.in/application-for-bail-be...
196,Application for Anticipatory Bail before Sessi...,https://www.barelaw.in/application-for-anticip...
197,Application by an Accused to surrender in the ...,https://www.barelaw.in/application-by-an-accus...
198,Anticipatory Bail Application under Section 43...,https://www.barelaw.in/anticipatory-bail-appli...
199,Application for Anticipatory Bail before High ...,https://www.barelaw.in/application-for-anticip...

In [19]:
# export the cleaned data

df.to_csv(cwd + "/cleaned_article_links.csv")